# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
# tpl = (1,2, 4,"Bikash")
tpl = (1, 2,3, 4, 5, 6, 7, 8 , 9)
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
first, *middle , last = tpl
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [10]:
tpl1 = tpl[0:3]
tpl2 = tpl[len(tpl)-3:]
tpl3 = tpl[3:6]
print(tpl1)
print(tpl2)
print(tpl3)

(1, 2, 3)
(7, 8, 9)
(4, 5, 6)

In [ ]:
tpl = [[1,2,3], [4,5,6], [7,8,9]]
# print(tpl[0],[1])
for tpls in tpl:
    print(tpls)
    for tplss in tpls:
        print(tplss)

In [17]:
tps1 = (1,2,3)
tps2 = (4,5,6)
tpl = tps1+tps2
print(tpl)

(1, 2, 3, 4, 5, 6)

In [22]:
tpl = (1,2,3,4,2,3,3,3,3,3,5,6,7)
tpl1 = tpl.count(3)
tpl2 = tpl.index(3)
print(tpl1)
print(tpl2)

6
2

In [23]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [26]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [27]:
tpl = [[1,2,3], [4,5,6], [7,8,9]]
print(tpl[0])
print(tpl[1])
print(tpl[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [33]:
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
print(lst)
tpl = tuple(lst)
print(tpl)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [34]:
tpl1 = ("Bikash")
tpl2 = ("Limbu")
tpl = tpl1 + " " + tpl2
print(tpl)

Bikash Limbu

In [35]:
tpls_dict = {
    (1,23,4):2,
    (5,6,7,):3,
    (12,34,55):4
}
print(tpls_dict)

{(1, 23, 4): 2, (5, 6, 7): 3, (12, 34, 55): 4}

In [36]:
tpl = ((1,2,4),(3,5,6), (6,7,8))
for tp in tpl:
    for t in tp :
        print(t)

1
2
4
3
5
6
6
7
8

In [37]:
tpl = (1,2,2,3,3,4,5,5,5,5)
set_tpl = set(tpl)
print(set_tpl)

{1, 2, 3, 4, 5}

In [ ]:
def min_in_tuple(tpl):
    return min(tpl) 

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15