# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [3]:
#1
#1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
import pandas as pd 
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size=(6,4)), columns = ["A", "B", 'C', "D"])
print("Original DataFrame:")
print(df)

df.set_index("A", inplace=True)
print("DataFrame with new index:")
print(df)
#2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
df = pd.DataFrame(np.random.randint(1,100, size=(3,3)), columns=["A","B","c"], index=["x","Y","Z"])
print("Original DataFrame")
print(df)

element = df.at["Y", "B"]
print("Element at row 'Y' and column 'B' ",element)

Original DataFrame:
    A   B   C   D
0  77  80  68  58
1  52  12  59  33
2  99  86  21   3
3  23  70  55  29
4  35  55  18  91
5  75  40  87  73
DataFrame with new index:
     B   C   D
A
77  80  68  58
52  12  59  33
99  86  21   3
23  70  55  29
35  55  18  91
75  40  87  73
Original DataFrame
    A   B   c
x  66   3  91
Y  49  43  88
Z  19  27  33
Element at row 'Y' and column 'B'  43

In [4]:
#2
#Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
df = pd.DataFrame(np.random.randint(1,100, size=(4, 3)), columns=["A","B","C"])
print("Original DataFrame:")
print(df)

df["D"] = df["A"] * df["B"]
print("DataFrame with new column:")
print(df)

#Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=["A", "B", "C"])
print("Original DataFrame:")
print(df)

new_row = df.sum(axis=1)
new_column = df.sum(axis=0)
print("Row Wise sum:")
print(new_row)
print("Column wise sum:")
print(new_column)

Original DataFrame:
    A   B   C
0  90  41  74
1  44  91  87
2  49  19  83
3  55  98  44
DataFrame with new column:
    A   B   C     D
0  90  41  74  3690
1  44  91  87  4004
2  49  19  83   931
3  55  98  44  5390
Original DataFrame:
    A   B   C
0  82  71  42
1   1  23   2
2  91  15  75
3  32  71  26
Row Wise sum:
0    195
1     26
2    181
3    129
dtype: int64
Column wise sum:
A    206
B    180
C    145
dtype: int64

In [5]:
#3
import pandas as pd
import numpy as np
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
# df = pd.DataFrame(np.random.randint(1,100, size=(5,3)), columns=["A","B","C"])
# print("Original DataFrame:")
# print(df)

# df.iloc[0,1] = np.nan
# df.iloc[2,2] = np.nan
# df.iloc[4,0] = np.nan
# print("DataFrame with Nan values:")
# print(df)

# df.fillna(df.mean(), inplace=True)
# print("DataFrame with filling Nan Values.")
# print(df)

#Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
df = pd.DataFrame(np.random.randint(1,100, size=(6,4)), columns=["A","B","C","D"])
print("DataFrame with ranodm values:")
print(df)
df.iloc[0,0] = np.nan
df.iloc[1,3] = np.nan
df.iloc[3,2] = np.nan
df.iloc[5,1] = np.nan
print("DataFrame with nan values:")
print(df)

df.dropna(inplace=(True))
print("DataFrame with Nan Values droped:")
print(df)

DataFrame with ranodm values:
    A   B   C   D
0  90  27  67  24
1  23  51  90  32
2  73  11   2  56
3  18  28  68   3
4  14  63  28  55
5  72  84  32  77
DataFrame with nan values:
      A     B     C     D
0   NaN  27.0  67.0  24.0
1  23.0  51.0  90.0   NaN
2  73.0  11.0   2.0  56.0
3  18.0  28.0   NaN   3.0
4  14.0  63.0  28.0  55.0
5  72.0   NaN  32.0  77.0
DataFrame with Nan Values droped:
      A     B     C     D
2  73.0  11.0   2.0  56.0
4  14.0  63.0  28.0  55.0

In [6]:
#4 Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
# df = pd.DataFrame({"Category": np.random.choice(['A','B','C'], size = 10), "Value": np.random.randint(1,100, size=10)})
# print("The dataframe is:")
# print(df)

# grouped = df.groupby("Category")["Value"].agg(["sum","mean"])
# print("The values are display group by:")
# print(grouped)

#Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.
df = pd.DataFrame({"Product":np.random.choice(["prod1","prod2","prod3"],size=10), "Category":np.random.choice(["A","B","C"],size=10), "Sales":np.random.randint(1,100,size=10)})
print("Begging of the data:")
print(df)

grouped = df.groupby("Category")["Sales"].agg("sum")
print("The final result:")
print(grouped)

Begging of the data:
  Product Category  Sales
0   prod3        B     69
1   prod1        C     79
2   prod1        B     57
3   prod1        A     34
4   prod2        A     40
5   prod2        B     54
6   prod2        B     48
7   prod3        A     16
8   prod1        A     99
9   prod3        C     39
The final result:
Category
A    189
B    228
C    118
Name: Sales, dtype: int32

In [7]:
#5 
# Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
df1 = pd.DataFrame({"Key":["A","B", "C", "D"], "Value1": np.random.randint(1,100, size=4)})
df2 = pd.DataFrame({"Key": ["A", "B", "C", "D"], "Value2": np.random.randint(1,100,size=4)})
print("The first Dataframe is:")
print(df1)
print("The second dataframe is:")
print(df2)


merged = pd.merge(df1, df2, on="Key")
print("The final merged dataframe is:")
print(merged)

The first Dataframe is:
  Key  Value1
0   A      21
1   B      23
2   C      71
3   D      17
The second dataframe is:
  Key  Value2
0   A       1
1   B      46
2   C      83
3   D      77
The final merged dataframe is:
  Key  Value1  Value2
0   A      21       1
1   B      23      46
2   C      71      83
3   D      17      77

In [8]:
#5
# Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
dff= pd.DataFrame({"A": np.random.randint(1,100,size=4), "B": np.random.randint(1,100, size=4)})
dfs = pd.DataFrame({"C": np.random.randint(1,100, size=4), "D": np.random.randint(1,100, size = 4)})
print(dff)
print(dfs)
concate_rows = pd.concat([dff,dfs], axis=1)
print(concate_rows)
concate_column = pd.concat([dff, dfs], axis=0)
print(concate_column)

    A   B
0  19  78
1  29  18
2  93  68
3  47  96
    C   D
0  39  36
1  44   5
2  21  11
3  48  75
    A   B   C   D
0  19  78  39  36
1  29  18  44   5
2  93  68  21  11
3  47  96  48  75
      A     B     C     D
0  19.0  78.0   NaN   NaN
1  29.0  18.0   NaN   NaN
2  93.0  68.0   NaN   NaN
3  47.0  96.0   NaN   NaN
0   NaN   NaN  39.0  36.0
1   NaN   NaN  44.0   5.0
2   NaN   NaN  21.0  11.0
3   NaN   NaN  48.0  75.0

In [9]:
#6
#Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
# print(df)
df['data'] = np.random.randint(0,100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print(df)
monthly_mean = df.resample('M').mean()
monthly_mean = df.resample('M').mean()
print(monthly_mean)

            data
date
2022-01-01    15
2022-01-02    92
2022-01-03    98
2022-01-04    37
2022-01-05    87
...          ...
2022-12-27    80
2022-12-28    24
2022-12-29    17
2022-12-30    43
2022-12-31    50

[365 rows x 1 columns]
                 data
date
2022-01-31  49.225806
2022-02-28  48.892857
2022-03-31  50.064516
2022-04-30  50.033333
2022-05-31  45.129032
2022-06-30  58.700000
2022-07-31  60.612903
2022-08-31  47.774194
2022-09-30  51.066667
2022-10-31  46.000000
2022-11-30  57.100000
2022-12-31  54.580645

C:\Users\User\AppData\Local\Temp\ipykernel_2712\1106575743.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()
C:\Users\User\AppData\Local\Temp\ipykernel_2712\1106575743.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

In [10]:
#Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.
date_rng = pd.date_range(start="2021-01-01", end="2021-12-31", freq="D")
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print(df)

rolling_mean = df.rolling(window=7).mean()
print(rolling_mean)

            data
date
2021-01-01    28
2021-01-02    72
2021-01-03    25
2021-01-04    28
2021-01-05    73
...          ...
2021-12-27    82
2021-12-28    19
2021-12-29    88
2021-12-30     4
2021-12-31     9

[365 rows x 1 columns]
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  68.142857
2021-12-28  59.000000
2021-12-29  61.142857
2021-12-30  47.714286
2021-12-31  42.285714

[365 rows x 1 columns]

In [12]:
#7
#Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
arrays = [['A','A','B','B'], ['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100, size=(4,3)), index = index, columns= ['value1','value2', 'value3'])
print(df)

print(df.loc['A'])

print(df.loc['B', 'two'])

                      value1  value2  value3
Category SubCategory
A        one              55       8       3
         two               2      19      78
B        one              74      64      27
         two              17      44      14
             value1  value2  value3
SubCategory
one              55       8       3
two               2      19      78
value1    17
value2    44
value3    14
Name: (B, two), dtype: int32

In [16]:
#reate a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.
arrays = [['A', 'A','B','B','C','C'],['one','two','one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100, size=(6,3)),index = index, columns=['value1','value2','value3'])
print(df)
group = df.groupby(['Category','SubCategory']).sum()
print(group)

                      value1  value2  value3
Category SubCategory
A        one              51      31      56
         two              28      90      18
B        one              66      20       2
         two              97      76      59
C        one              75      43      39
         two              96      24      13
                      value1  value2  value3
Category SubCategory
A        one              51      31      56
         two              28      90      18
B        one              66      20       2
         two              97      76      59
C        one              75      43      39
         two              96      24      13