# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  50  40   5  31
1  29  45  78  45
2  51  17  57  64
3  96  91  68  53
4  31  98   3  83
5  42  42   8  14
DataFrame with new index:
     B   C   D
A
50  40   5  31
29  45  78  45
51  17  57  64
96  91  68  53
31  98   3  83
42  42   8  14

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  30  24  97
Y  36  56  57
Z   6   3  51
Element at row 'Y' and column 'B': 56

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  84  63  88
1  17  16  97
2  31  18   2
3  73  29  84
4  29  23  91
DataFrame with new column:
    A   B   C     D
0  84  63  88  5292
1  17  16  97   272
2  31  18   2   558
3  73  29  84  2117
4  29  23  91   667

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  54  71  34
1  68  22  21
2  26  79  95
3  68  21  96
Row-wise sum:
0    159
1    111
2    200
3    185
dtype: int64
Column-wise sum:
A    216
B    193
C    246
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [6]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
import pandas as pd
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  31  92  98
1  10  60  93
2  48  17  43
3  14   5   8
4  33  64   3
DataFrame with NaN values:
      A     B     C
0  31.0   NaN  98.0
1  10.0  60.0  93.0
2  48.0  17.0   NaN
3  14.0   5.0   8.0
4   NaN  64.0   3.0
DataFrame with NaN values filled:
       A     B     C
0  31.00  36.5  98.0
1  10.00  60.0  93.0
2  48.00  17.0  50.5
3  14.00   5.0   8.0
4  25.75  64.0   3.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  75  25  22  51
1  78  48  69  40
2  83  22  96  21
3  38  29   7  45
4  80  28  50  91
5  73  94   9  83
DataFrame with NaN values:
      A     B     C   D
0  75.0  25.0  22.0  51
1  78.0  48.0   NaN  40
2  83.0  22.0  96.0  21
3   NaN  29.0   7.0  45
4  80.0  28.0  50.0  91
5  73.0   NaN   9.0  83
DataFrame with NaN values dropped:
      A     B     C   D
0  75.0  25.0  22.0  51
2  83.0  22.0  96.0  21
4  80.0  28.0  50.0  91

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [8]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A     56
1        C     87
2        C     44
3        A     55
4        A     26
5        C     46
6        B     65
7        A     80
8        C     43
9        A      5
Grouped DataFrame:
          sum  mean
Category
A         222  44.4
B          65  65.0
C         220  55.0

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [9]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod3        B     38
1   Prod1        B     91
2   Prod1        C     51
3   Prod2        B     42
4   Prod2        B     17
5   Prod2        B     95
6   Prod2        A     90
7   Prod2        C     62
8   Prod2        A     32
9   Prod2        B     55
Grouped DataFrame:
Category
A    122
B    338
C    113
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [10]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      74
1   B      96
2   C       7
3   D      65
DataFrame 2:
  Key  Value2
0   A      16
1   B      53
2   C      99
3   E      97
Merged DataFrame:
  Key  Value1  Value2
0   A      74      16
1   B      96      53
2   C       7      99

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0   7   4
1  62   7
2  93  54
DataFrame 2:
    C   D
0  36  16
1  55  14
2  56   2
Concatenated DataFrame (rows):
      A     B     C     D
0   7.0   4.0   NaN   NaN
1  62.0   7.0   NaN   NaN
2  93.0  54.0   NaN   NaN
0   NaN   NaN  36.0  16.0
1   NaN   NaN  55.0  14.0
2   NaN   NaN  56.0   2.0
Concatenated DataFrame (columns):
    A   B   C   D
0   7   4  36  16
1  62   7  55  14
2  93  54  56   2

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [12]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
# print(df)
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    26
2022-01-02    28
2022-01-03     8
2022-01-04    58
2022-01-05    61
...          ...
2022-12-27    10
2022-12-28    34
2022-12-29    83
2022-12-30    38
2022-12-31    87

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  46.935484
2022-02-28  47.071429
2022-03-31  47.677419
2022-04-30  43.300000
2022-05-31  42.290323
2022-06-30  49.966667
2022-07-31  41.161290
2022-08-31  45.096774
2022-09-30  44.600000
2022-10-31  46.225806
2022-11-30  47.033333
2022-12-31  46.903226

C:\Users\User\AppData\Local\Temp\ipykernel_4824\1022593775.py:11: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [13]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    28
2021-01-02     8
2021-01-03    40
2021-01-04    55
2021-01-05    45
...          ...
2021-12-27    37
2021-12-28    17
2021-12-29    87
2021-12-30    23
2021-12-31    48

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  27.000000
2021-12-28  26.000000
2021-12-29  29.428571
2021-12-30  28.714286
2021-12-31  33.857143

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [14]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              93      14      34
         two              47      58      50
B        one              12      49      81
         two              16      33      99
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              93      14      34
two              47      58      50
Slicing at Category 'B' and SubCategory 'two':
Value1    16
Value2    33
Value3    99
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [15]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              35      88      13
         two              54      35      94
B        one              53      99      24
         two              13      18      88
C        one              31      85      18
         two              85      19      97
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              35      88      13
         two              54      35      94
B        one              53      99      24
         two              13      18      88
C        one              31      85      18
         two              85      19      97

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [16]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-06        B     27
1  2022-01-01        A     30
2  2022-01-09        A     98
3  2022-01-05        C     14
4  2022-01-06        A     17
5  2022-01-01        C     79
6  2022-01-07        B     93
7  2022-01-08        B      5
8  2022-01-08        B     68
9  2022-01-06        B     19
10 2022-01-06        A     64
11 2022-01-07        C     78
12 2022-01-02        B     61
13 2022-01-05        A     40
14 2022-01-03        C     25
15 2022-01-03        B     75
16 2022-01-03        B     47
17 2022-01-01        C      7
18 2022-01-01        A     86
19 2022-01-09        B     10
Pivot Table:
Category        A      B     C
Date
2022-01-01  116.0    NaN  86.0
2022-01-02    NaN   61.0   NaN
2022-01-03    NaN  122.0  25.0
2022-01-05   40.0    NaN  14.0
2022-01-06   81.0   46.0   NaN
2022-01-07    NaN   93.0  78.0
2022-01-08    NaN   73.0   NaN
2022-01-09   98.0   10.0   NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [17]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q3      664
1   2020      Q2      971
2   2022      Q4      448
3   2020      Q3      929
4   2021      Q4      390
5   2020      Q3      155
6   2022      Q1      259
7   2021      Q2      317
8   2020      Q4      835
9   2021      Q1      329
10  2020      Q3      340
11  2021      Q2      966
Pivot Table:
Quarter     Q1     Q2          Q3     Q4
Year
2020       NaN  971.0  474.666667  835.0
2021     329.0  641.5  664.000000  390.0
2022     259.0    NaN         NaN  448.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [18]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  44  81  19
1  12  94  54
2  42  41  63
3  29  65  35
4  54   6  46
Doubled DataFrame:
     A    B    C
0   88  162   38
1   24  188  108
2   84   82  126
3   58  130   70
4  108   12   92

C:\Users\User\AppData\Local\Temp\ipykernel_4824\3315638500.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [19]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  53  31  97
1  57  92   7
2  92  22  81
3  14  63  64
4  48  96  89
5  49  82  24
DataFrame with Sum column:
    A   B   C  Sum
0  53  31  97  181
1  57  92   7  156
2  92  22  81  195
3  14  63  64  141
4  48  96  89  233
5  49  82  24  155

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [20]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [21]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object