import the libraries and packages

In [2]:
import pandas as pd
import numpy as np
import requests
from io import StringIO
from datetime import datetime

Importing the files.

In [6]:
air_quality = pd.read_csv("London_Air_Quality_2023.csv")
air_quality

,Unnamed: 0,Date,City,CO,NO2,SO2,O3,PM2.5,PM10,AQI
0,0,2023-01-01 00:00:00+00:00,London,125.0,6.1,2.2,67.0,5.6,10.4,26.800001
1,1,2023-01-01 01:00:00+00:00,London,132.0,7.8,1.9,68.0,5.5,8.7,27.200000
2,2,2023-01-01 02:00:00+00:00,London,134.0,5.6,2.1,68.0,5.6,12.4,27.200000
3,3,2023-01-01 03:00:00+00:00,London,130.0,4.9,2.0,70.0,5.8,13.2,28.000000
4,4,2023-01-01 04:00:00+00:00,London,131.0,5.6,2.2,70.0,5.8,15.0,28.000000
...,...,...,...,...,...,...,...,...,...,...
8755,8755,2023-12-31 19:00:00+00:00,London,185.0,9.8,2.0,56.0,4.9,11.8,22.400000
8756,8756,2023-12-31 20:00:00+00:00,London,189.0,10.6,2.2,57.0,5.2,11.3,22.800000
8757,8757,2023-12-31 21:00:00+00:00,London,184.0,9.7,2.5,61.0,5.3,10.3,24.400002
8758,8758,2023-12-31 22:00:00+00:00,London,182.0,9.0,2.3,63.0,5.1,9.9,25.200000
8759,8759,2023-12-31 23:00:00+00:00,London,182.0,8.1,1.8,63.0,5.0,9.5,25.200000

In [7]:
def get_weather_data(year):
    # Define base URL and parameters
    city = "london"
    api_key = "WEAGHA5EN5YD8PCZ2NLXGT92Z"
    base_url = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/"
    
    # Start and end of the given year
    start_date = f"{year}-01-01"
    end_date = f"{year}-12-31"
    
    # Build full URL
    url = (
        f"{base_url}{city}/{start_date}/{end_date}"
        f"?unitGroup=us&include=days&key={api_key}&contentType=csv"
    )

    print(f"Fetching data for {year}...\n")
    
    # Make request
    response = requests.get(url)
    
    # Check if successful
    if response.status_code != 200:
        print("Error fetching data:", response.text)
        return None

    # ‚úÖ Convert CSV response text to a DataFrame using StringIO
    data = pd.read_csv(StringIO(response.text))
    
    return data


def main():
    # Ask user for year input
    year_input = input("Enter a year (e.g., 2023): ").strip()
    
    # Validate input
    if not year_input.isdigit() or len(year_input) != 4:
        print("‚ùå Please enter a valid 4-digit year.")
        return
    
    # Fetch weather data
    df = get_weather_data(year_input)
    
    if df is not None:
        print(f"\n‚úÖ Weather data for London, {year_input} ‚Äî {len(df)} days found.\n")
        print(df.head())  # Show first few rows
        
        # Optionally save to CSV
        save_option = input("\nDo you want to save the full data to a CSV file? (y/n): ").lower()
        if save_option == "y":
            filename = f"london_weather_{year_input}.csv"
            df.to_csv(filename, index=False)
            print(f"üíæ Data saved as {filename}")
    else:
        print("Failed to retrieve data.")


if __name__ == "__main__":
    main()

Enter a year (e.g., 2023):  2023

Fetching data for 2023...


‚úÖ Weather data for London, 2023 ‚Äî 365 days found.

     name    datetime  tempmax  tempmin  temp  feelslikemax  feelslikemin  \
0  london  2023-01-01     54.2     45.8  51.6          54.2          43.5
1  london  2023-01-02     48.4     37.1  43.7          44.4          34.3
2  london  2023-01-03     55.1     39.4  48.3          55.1          39.4
3  london  2023-01-04     57.3     51.5  55.0          57.3          51.5
4  london  2023-01-05     56.6     49.7  53.1          56.6          45.8

   feelslike   dew  humidity  ...  solarenergy  uvindex  severerisk  \
0       51.2  45.1      78.7  ...          1.5        1         NaN
1       40.6  39.7      86.5  ...          2.0        2         NaN
2       47.0  45.6      90.3  ...          0.6        0         NaN
3       55.0  48.9      80.1  ...          1.4        1         NaN
4       52.8  47.2      80.5  ...          1.5        1         NaN

               sunrise               sunset  moonphase  \
0  2023-01-01T08:06:18  2023-01-01T16:01:52       0.31
1  2023-01-02T08:06:11  2023-01-02T16:02:56       0.35
2  2023-01-03T08:06:01  2023-01-03T16:04:03       0.38
3  2023-01-04T08:05:48  2023-01-04T16:05:12       0.42
4  2023-01-05T08:05:31  2023-01-05T16:06:24       0.45

               conditions                                        description  \
0  Rain, Partially cloudy        Partly cloudy throughout the day with rain.
1  Rain, Partially cloudy  Partly cloudy throughout the day with rain cle...
2          Rain, Overcast         Cloudy skies throughout the day with rain.
3  Rain, Partially cloudy  Partly cloudy throughout the day with morning ...
4                Overcast                   Cloudy skies throughout the day.

     icon                                           stations
0    rain  D5621,03672099999,03781099999,AR120,0377209999...
1    rain  D5621,03672099999,03781099999,03772099999,0377...
2    rain  D5621,03672099999,03781099999,F6665,0377209999...
3    rain  D5621,03672099999,03781099999,03772099999,0377...
4  cloudy  D5621,03672099999,03781099999,03772099999,0377...

[5 rows x 33 columns]

Do you want to save the full data to a CSV file? (y/n):  n

In [ ]:
weather_data= pd.read_csv("London_Weather_2023.csv")